/* body {
    background: rgb(139, 103, 32);
    margin: 0;
    padding: 0;
  }

/* html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
} */

/* #character-bar {
  height: 15vh;
  background: rgb(84, 27, 146);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

#character-bar span {
  padding: 1%;
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 2em;
  border: 1px solid white;
}

.characterInfo{
  height: 550px;
  padding: 30px;
  font-size: 24px;
  border: dotted;
  text-align: center;
}

input[type="submit"], button {
  background-color: rgb(199, 175, 147);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
  font-size: 3vh;
}

#image{
  width: 300px;
  height: 300px;
}

form h4 {
  width: 100%;
  padding: 0.25rem;
  margin: 0.5rem 0;
  text-indent: 10px;
  color: white;
  background-color: black;
} */ 

.main {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* might want to consider changing the align-items above to center */
  text-align: center; 
}

h1, h2, h3, h4 {
  font-family: 'Geneva'
  margin-bottom: 0px;
}

th {
  font-weight: bold;
}

.center {
  text-align: center;
}

.padding {
  padding: 10px;
}

.margin {
  margin: 20px;
}

.blue {
  background-color: #0a8142;
}

.yellow {
  background-color: #FFD700;
}

.border-round {
  border-radius: 10px;
}

.border-grey {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}